<header class="header">
  <div class="brand">
    <img src="logo.png" alt="Sentinel logo" class="logo" />
    <h2>Sentinel</h2>
    <nav>
      <a routerLink="/home">{{'navbar.home' | translate}}</a>
      <a routerLink="/cameras">{{'navbar.cams' | translate}}</a>
      <a>{{'navbar.sens' | translate}}</a>
      <a routerLink="/alerts">{{'navbar.alerts' | translate}}</a>
      <a>{{'navbar.confg' | translate}}</a>
    </nav>
  </div>

  <div class="actions">
    <app-language-switcher></app-language-switcher>
    <button class="logout-btn" (click)="logout()">
      {{ 'navbar.logout' | translate }}
    </button>
  </div>
</header>
